{% from "govuk/components/back-link/macro.njk" import govukBackLink %} {% from
"govuk/components/summary-list/macro.njk" import govukSummaryList %} {% extends
"layouts/main.html" %} {% block beforeContent %} {{ govukBackLink({ text:
"Back", href: "/view-progress/v1/index#host-partners" }) }} {% endblock %} {%
block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Age UK</h1>

    {{ govukSummaryList({ rows: [ { key: { text: "Address" }, value: { html: "20
    St Ann's Square<br />Manchester<br />M2 7HG" } }, { key: { text: "Contact"
    }, value: { text: "karen@ageuk.co.uk" } } ] }) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-9">
      This week:<br /><span class="govuk-!-font-weight-regular"
        >12 January - 18 January 2026</span
      >
    </h2>

    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Allocations</h3>
            </div>
            <div class="govuk-summary-card__content">
              <p class="govuk-!-font-size-80 govuk-!-font-weight-bold">16</p>
            </div>
            <!-- <p class="govuk-body card__description">
              Search for someone in any establishment, or who has been released.
            </p> -->
          </div>
        </li>
        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Did not attend</h3>
            </div>
            <div class="govuk-summary-card__content">
              <p class="govuk-!-font-size-80 govuk-!-font-weight-bold">8</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Attended</h3>
            </div>
            <div class="govuk-summary-card__content">
              <p class="govuk-!-font-size-80 govuk-!-font-weight-bold">4</p>
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-quarter card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Missing outcomes</h3>
            </div>
            <div class="govuk-summary-card__content">
              <p
                class="govuk-!-font-size-80 govuk-!-font-weight-bold color-error"
              >
                4
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Yesterday</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Tuesday 12 January <br />
          <span class="govuk-!-font-weight-regular">09:00 - 13:00</span>
        </h3>
        <ul class="govuk-summary-card__actions" id="status-tag">
          <li class="govuk-summary-card__action">
            <strong class="govuk-tag govuk-tag--red"> Did not attend </strong>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">Chanelle Paine</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >View<span class="govuk-visually-hidden">
                  Chanelle Paine's session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">Today</h2>
    <div class="govuk-summary-card govuk-summary-card--grey">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Wednesday 14 January<br />
          <span class="govuk-!-font-weight-regular">10:00-12:00</span>
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">Dan Line</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  Dan Line's session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">Tomorrow</h2>
    <p class="govuk-body">There are 2 people scheduled for tomorrow</p>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Thursday 15 January<br />
          <span class="govuk-!-font-weight-regular">10:00-12:00</span>
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">Rachel Patel</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  Rachel Patel's session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Thursday 15 January<br />
          <span class="govuk-!-font-weight-regular">13:00 - 15:00</span>
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">Harry Dudley</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  Harry Dudley's session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>

    <a
      href=""
      class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold"
      >View more sessions</a
    >
  </div>
</div>
{% endblock %}
