{% extends "layouts/main.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Track progress on individual placements</h1>

    <h2 class="govuk-heading-m">People on individual placements</h2>
    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Missing outcomes</h3>
            </div>
            <div class="govuk-summary-card__content card__content">
              <p
                class="govuk-!-font-size-80 govuk-!-font-weight-bold color-error"
              >
                3
              </p>
            </div>
            <div class="card__action">
              <hr
                class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-2"
              />
              <a
                href="index-incomplete"
                class="govuk-link govuk-link--no-visited-state"
                >Filter sessions</a
              >
            </div>
            <!-- <p class="govuk-body card__description">
              Search for someone in any establishment, or who has been released.
            </p> -->
          </div>
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="govuk-summary-card card card--clickable">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Yesterday</h3>
            </div>
            <div class="govuk-summary-card__content card__content">
              <p class="govuk-!-font-size-80 govuk-!-font-weight-bold">2</p>
            </div>
            <div class="card__action">
              <hr
                class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-2"
              />
              <a
                href="index-incomplete"
                class="govuk-link govuk-link--no-visited-state"
                >Filter sessions</a
              >
            </div>
          </div>
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="govuk-summary-card card">
            <div class="govuk-summary-card__title-wrapper">
              <h3 class="govuk-summary-card__title">Attended</h3>
            </div>
            <div class="govuk-summary-card__content card__content">
              <p class="govuk-!-font-size-80 govuk-!-font-weight-bold">4</p>
            </div>
            <div class="card__action">
              <hr
                class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-2"
              />
              <a href="" class="govuk-link govuk-link--no-visited-state"
                >Filter sessions</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Person
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Host partner
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Outcome
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a class="govuk-link govuk-link--no-visited-state  href="people/1">Chanelle Paine</a>
          </td>
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Harry Jones</td>
          <td class="govuk-table__cell">Emmaus</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell">Attended</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Alice Cooper</td>
          <td class="govuk-table__cell">Mind</td>
          <td class="govuk-table__cell">12 Jan 2025</td>
          <td class="govuk-table__cell">Did not attend</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dan Line</td>
          <td class="govuk-table__cell">Mind</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rachel Patel</td>
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">15 Jan 2025</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Harry Dudley</td>
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">15 Jan 2025</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Host partners</h2>
    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Host partner
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            No. of people
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="partners/1">Age UK</a></td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Emmaus</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mind</td>
          <td class="govuk-table__cell">12 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Leicester Co-op</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Food bank</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bike workshop</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
