{% extends "layouts/main.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Track progress on individual placements</h1>

    <h2 class="govuk-heading-m">People on individual placements</h2>
    <div class="govuk-width-container">
      <ul class="govuk-grid-row card-group">
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="card card--clickable" data-test="global-search">
            <h3 class="govuk-heading-s card__heading">
              <a
                class="govuk-link card__link govuk-link--no-visited-state"
                href="#"
                onclick="showAlert()"
                >3 missing outcomes</a
              >
            </h3>
            <!-- <p class="govuk-body card__description">
              Search for someone in any establishment, or who has been released.
            </p> -->
          </div>
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          <div
            class="card card--clickable"
            data-test="manage-prisoner-whereabouts"
          >
            <h3 class="govuk-heading-s card__heading">
              <a
                class="govuk-link card__link govuk-link--no-visited-state"
                href="#"
                onclick="showAlert()"
                >4 <br />appointments yesterday</a
              >
            </h3>
            <!-- <p class="govuk-body card__description">
              View unlock lists and manage attendance.
            </p> -->
          </div>
        </li>
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="card card--clickable" data-test="use-of-force">
            <h3 class="govuk-heading-s card__heading">
              <a
                class="govuk-link card__link govuk-link--no-visited-state"
                href="#"
                onclick="showAlert()"
                >3 enforcements needed</a
              >
            </h3>
            <!-- <p class="govuk-body card__description">
              Manage and view incident reports and statements.
            </p> -->
          </div>
        </li>
      </ul>
    </div>

    <div class="moj-filter" data-module="moj-filter">
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h3 class="govuk-heading-s">Filter</h3>
            </div>
            <div class="moj-filter__heading-action">
              <p>
                <a class="govuk-link govuk-link--no-visited-state" href="index"
                  >Clear filters</a
                >
              </p>
            </div>
          </div>
          <ul class="moj-filter-tags">
            <li>
              <a class="moj-filter__tag" href="index"
                ><span class="govuk-visually-hidden">Remove this filter</span>
                Incomplete</a
              >
            </li>
            <!-- <li>
              <a class="moj-filter__tag" href="/path/to/remove/this"
                ><span class="govuk-visually-hidden">Remove this filter</span>
                Yellow</a
              >
            </li> -->
          </ul>

          <details
            class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-3"
          >
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text"> Add filters </span>
            </summary>
            <div class="moj-filter__options">
              <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
                data-test-id="submit-button"
              >
                Apply filters
              </button>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Keywords
                </label>
                <input
                  class="govuk-input"
                  id="keywords"
                  name="keywords"
                  type="text"
                />
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                    Partner
                  </legend>
                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="type"
                        name="type"
                        type="checkbox"
                        value="1"
                        checked
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="type"
                      >
                        Age UK
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="type-2"
                        name="type"
                        type="checkbox"
                        value="2"
                        checked
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="type-2"
                      >
                        Emmaus
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="type-3"
                        name="type"
                        type="checkbox"
                        value="3"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="type-3"
                      >
                        Mind
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend
                    class="govuk-fieldset__legend govuk-fieldset__legend--m"
                  >
                    Status
                  </legend>
                  <div
                    class="govuk-checkboxes govuk-checkboxes--small"
                    data-module="govuk-checkboxes"
                  >
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="status"
                        name="status"
                        type="checkbox"
                        value="complete"
                        checked
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="status"
                      >
                        Completed (3)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="status-2"
                        name="status"
                        type="checkbox"
                        value="incomplete"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="status-2"
                      >
                        Incomplete (3)
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input
                        class="govuk-checkboxes__input"
                        id="status-3"
                        name="status"
                        type="checkbox"
                        value="inprogress"
                      />
                      <label
                        class="govuk-label govuk-checkboxes__label"
                        for="status-3"
                      >
                        In progress (0)
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            Person
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Host partner
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Outcome
          </th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Chanelle Paine</td>
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Dan Line</td>
          <td class="govuk-table__cell">Mind</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Rachel Patel</td>
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-margin-top-9">Host partners</h2>
    <div class="moj-filter" data-module="moj-filter">
      <div class="moj-filter__content">
        <div class="moj-filter__selected">
          <div class="moj-filter__selected-heading">
            <div class="moj-filter__heading-title">
              <h3 class="govuk-heading-s">Filter</h3>
            </div>
            <div class="moj-filter__heading-action">
              <p>
                <a class="govuk-link govuk-link--no-visited-state" href=""
                  >Clear filters</a
                >
              </p>
            </div>
          </div>
          <ul class="moj-filter-tags">
            <!-- <li>
              <a class="moj-filter__tag" href="/path/to/remove/this"
                ><span class="govuk-visually-hidden">Remove this filter</span>
                Missing outcome</a
              >
            </li> -->
            <!-- <li>
              <a class="moj-filter__tag" href="/path/to/remove/this"
                ><span class="govuk-visually-hidden">Remove this filter</span>
                Yellow</a
              >
            </li> -->
          </ul>

          <details
            class="govuk-details govuk-!-margin-top-4 govuk-!-margin-bottom-3"
          >
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text"> Add filters </span>
            </summary>
            <div class="moj-filter__options">
              <button
                type="submit"
                class="govuk-button"
                data-module="govuk-button"
                data-test-id="submit-button"
              >
                Apply filters
              </button>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Keywords
                </label>
                <input
                  class="govuk-input"
                  id="keywords"
                  name="keywords"
                  type="text"
                />
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Date
                </label>
                <input class="govuk-input" id="date" name="date" type="date" />
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label govuk-label--m" for="keywords">
                  Team
                </label>
                <select class="govuk-input" id="team" name="team" type="text">
                  <option>Hackney</option>
                  <option>Tottenham</option>
                  <option>Greenwich</option>
                </select>
              </div>
            </div>
          </details>
        </div>
      </div>
    </div>

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="none">
            Host partner
          </th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Date</th>
          <th scope="col" class="govuk-table__header" aria-sort="ascending">
            No. of people
          </th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Age UK</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Emmaus</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mind</td>
          <td class="govuk-table__cell">12 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Leicester Co-op</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Food bank</td>
          <td class="govuk-table__cell">14 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">1</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Bike workshop</td>
          <td class="govuk-table__cell">13 Jan 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
          <td class="govuk-table__cell">
            <a href="#">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
