{% extends "layouts/main.html" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">N56123456</span>
    <h1 class="govuk-heading-l">Chanelle Paine</h1>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <div class="govuk-summary-card govuk-summary-card--grey">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Current session</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#"
              >Attended<span class="govuk-visually-hidden">
                current session</span
              ></a
            >
          </li>
          <li class="govuk-summary-card__action">
            <a class="govuk-link govuk-link--no-visited-state" href="#"
              >Did not attend<span class="govuk-visually-hidden">
                current session</span
              ></a
            >
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <h3 class="govuk-heading-m">Age UK</h3>
        <dl class="govuk-summary-list govuk-summary-list--grid">
          <div class="govuk-summary-list__column">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Location</dt>
              <dd class="govuk-summary-list__value">Manchester</dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Contact</dt>
              <dd class="govuk-summary-list__value">karen@ageuk.co.uk</dd>
            </div>
          </div>
          <div class="govuk-summary-list__column">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Date</dt>
              <dd class="govuk-summary-list__value">
                Wednesday 14 January 2026
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">Time</dt>
              <dd class="govuk-summary-list__value">09:00 - 16:00</dd>
            </div>
          </div>
        </dl>
      </div>
    </div>

    <h2 class="govuk-heading-m">
      This week:<br /><span class="govuk-!-font-weight-regular"
        >12 January - 16 January 2026</span
      >
    </h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Thursday 15 January<br />
          <span class="govuk-!-font-weight-regular">Age UK</span>
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 13:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  whether details are known (Person 2)</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Saturday 17 January<br />
          <span class="govuk-!-font-weight-regular">Age UK</span>
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 13:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  whether details are known (Person 2)</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Sunday 18 January<br />
          <span class="govuk-!-font-weight-regular"
            >British Heart Foundation</span
          >
        </h3>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 11:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >Change<span class="govuk-visually-hidden">
                  whether details are known (Person 2)</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <button type="button" class="govuk-button" data-module="govuk-button">
      Add session
    </button>

    <h2 class="govuk-heading-m">Past sessions</h2>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Tuesday 12 January <br />
          <span class="govuk-!-font-weight-regular">Age UK</span>
        </h3>
        <ul class="govuk-summary-card__actions" id="status-tag">
          <li class="govuk-summary-card__action">
            <strong class="govuk-tag govuk-tag--green"> Attended </strong>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 13:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >View<span class="govuk-visually-hidden">
                  Tuesday 12 January session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Friday 10 December <br />
          <span class="govuk-!-font-weight-regular">Age UK</span>
        </h3>
        <ul class="govuk-summary-card__actions" id="status-tag">
          <li class="govuk-summary-card__action">
            <strong class="govuk-tag govuk-tag--green"> Attended </strong>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 13:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >View<span class="govuk-visually-hidden">
                  Friday 10 December session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h3 class="govuk-summary-card__title">
          Wednesday 7 December <br />
          <span class="govuk-!-font-weight-regular"
            >British Heart Foundation</span
          >
        </h3>
        <ul class="govuk-summary-card__actions" id="status-tag">
          <li class="govuk-summary-card__action">
            <strong class="govuk-tag govuk-tag--red"> Did not attend </strong>
          </li>
        </ul>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <p class="govuk-summary-value">09:00 - 11:00</p>
            <div class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#"
                >View<span class="govuk-visually-hidden">
                  Wednesday 7 December session</span
                ></a
              >
            </div>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
