{% extends "layouts/main.html" %} {% set pageName="Home" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Prototypes</span>
    <h1 class="govuk-heading-xl">{{ serviceName }}</h1>

    <ol class="govuk-list govuk-list--number">
      <li>
        <a href="/view-progress/v1/index">Individual placement dashboard</a>
        <strong class="govuk-tag govuk-tag--grey govuk-!-font-size-16">
          v1
        </strong>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
